Nanarchy.Tests/bin/
Nanarchy.Tests/obj/
Nanarchy/bin/
Nanarchy/obj/
Nanarchy.Core/obj/
*.ncrunchproject
*.ncrunchsolution
*.pfx
Nanarchy.Data.Mssql/obj/
Nanarchy.Sample/obj/
Nanarchy.Sample/bin/
Nanarchy.Data.Mssql/bin/
