<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NanarchyDb" connectionString="Data Source=(LocalDB)\v11.0;Database=Nanarchy;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="NDB.DatabaseName" value="Nanarchy"/>
    <add key="NDB.SchemaName" value="dbo"/>
    <add key="NDB.HierarchyEntryTableName" value="HierarchyEntry"/>
    <add key="NDB.TargetEntryTableName" value="TargetEntry"/>
    <add key="NDB.TargetTablePrefix" value="Target_"/>
  </appSettings>
</configuration>